@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');


body {
    background-color: rgba(40, 50, 65) ;
    padding: 95px;
}

h1 {
    font-family: 'press start 2p';
    color: rgba(246, 101, 70);
    display: flex;
    justify-content: center;
}
h2 {
   font-family: 'press start 2p';
    font-size:x-large;   
}
h4 {
       font-family: 'press start 2p';
    color: rgba(246, 101, 70);
    font-size:x-large;       
}
h3 {
       font-family: 'press start 2p';
    color: rgba(246, 101, 70);
    font-size: larger;
      
}
p {
color: rgba(225, 250, 250);
font-size:x-large;
}

li {
  color: rgba(225,250,250);
  font-size: x-large;
}

iframe {
    display: block;
    margin: auto;
  
}

.sim-section {
  padding: 60px 8%;
  background: #1f263b;
  color: #eaeaf0;
}

.sim-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  align-items: stretch;
}

.sim-container canvas {
  width: 100%;
  height: auto;
  background: #11162a;
  border-radius: 12px;
}

.panel {
  background: #ebecef;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.panel button {
  padding: 10px;
  background: #1f2540;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.panel button:hover {
  background: #484a5a;
}

.sim-section {
  padding: 60px 8%;
  background: #344451;
  color: #eaeaf0;
}

.sim-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

canvas {
  background: #272c42;
  border-radius: 12px;
}

.panel {
  background: #181c35;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.panel button,
.panel input {
  width: 100%;
}
