
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap');


body {
    background-color: rgba(40, 50, 65);
    padding: 65px;
}
.hero {
    position: relative;
    height: 100vh;
    width: 100vh;
    background-image: url(pixil-frame-O.png);
    background-size:cover;
    background-poisiton:center;
    .hero-text {
        position: absolute;
        top:50%;
        left:50%;
        color:white;
font-family: 'press start 2p';
        text-shadow:2px 2px 8px
        rgba(0,0,0,0.7);
    }
    
}

h1 {
font-family: 'press start 2p';
color: rgba(225, 250, 250);
display: flex;
justify-content: center;
padding: 20px;
}

.topics a {
    text-decoration: none;
    color:rgba(40, 50, 65);
}



.topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 3em;
    margin: 50px auto;

    
}

.kinematics {
    background-color:rgba(246, 101, 70);
    grid-row: 1/2;
    grid-column: 1/2;
    


    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
transition: transform 0.2s, box-shadow 0.2s;

}

.image {
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 150px;  

}

.dynamics {
    background-color: rgba(245, 160, 95);
    grid-row: 1/2;
    grid-column: 2/3;
        text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
transition: transform 0.2s, box-shadow 0.2s;
}

.laws {
    background-color:rgba(243, 193, 87) ;
    grid-row: 1/2;
    grid-column: 3/4;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
transition: transform 0.2s, box-shadow 0.2s;
}

.projectile {
    background-color: rgba(40, 155, 145);
    grid-row: 2/3;
    grid-column: 1/2;
        text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
transition: transform 0.2s, box-shadow 0.2s;

}
